%h2 Edit Board 

= form_with(model: @board, url: board_path(@board), method: 'put', local: true) do |f|
    .field
        = f.label :title, 'Name'
        %br/
        = f.text_field :title, class: 'form'
    .field
        = f.label :content, 'Description', class: 'text' 
        %br
        = f.text_area :content, class: 'form form-2'

    = f.submit 'Submit' , class: 'form btn'

