%h2 All Boards
- @boards.each do |board|
  .board
    = link_to board_path(id: board.id) do
      .board-title
        = board.title
    %br
    .board-menu
      = image_tag 'Combined Shape' 
      .board-menu-content 
        =link_to 'Edit', edit_board_path(id: board.id) 
        =link_to 'Delete', board_path(id: board.id) , data:{method: 'delete' , confirm: "destroy OK?"}

    .board-content 
      = board.content.truncate(70)
    %br

    
= link_to new_board_path do
  .board.new-board 
    %p + Add new borad





= link_to 'HOME', root_path, style: 'display: block; margin-bottom: 10px;'
= link_to 'Sign Up', new_user_registration_path, style: 'display: block; margin-bottom: 10px;'
= link_to 'Sign In', new_user_session_path, style: 'display: block; margin-bottom: 10px;'