%h2  
    = @board.title
- @tasks.each do |task|
    .board.task
        - if task.eyecatch.attached?
            .task-image.small-image
                = image_tag task.eyecatch
        .board-title.task-content
            = task.title

        .board-content.task-content
            = task.content

    
= link_to new_task_path do
    .new-task 
        %p + Add new task
