!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta(name="viewport" content="width=device-width, initial-scale=1.0")/
    %title Do9app
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
    
  %body
    %header.header
      .header-left 
        = link_to 'Boards', root_path
      - if user_signed_in?
        .header-right.dropdown
          = image_tag current_user.avatar_image, class: 'user-icon'
          .dropdown-content
            = link_to 'Profile Edit', edit_profile_path, class: 'dropdown-content-item'
            = link_to 'Sign out', destroy_user_session_path, data:{method: 'delete'} , class: 'dropdown-content-item'
    .container
      %p.notice= notice 
      %p.alert= alert
      = yield


